.navbar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    background: rgb(233, 146, 221);
    color: white;
    padding: 0.5rem;
    height: 4rem;
}
.navbar h1{
    color: white;
    font-weight: 600;
    font-size: 30px;
}
.list{
    color: white;
    font-weight: 500;
    cursor: pointer;
}
.list:hover{
    color: green;
    bottom: 3px solid green;
}
.login{
    background: rgb(243, 241, 241);
    color: green;
    cursor: pointer;
    border-radius: 8px;
    margin: 0.5rem;
    padding: 0.5rem;
}
.login:hover{
    color: rgb(19, 54, 19);
}