.list{
    margin-top: 0 ;
    margin-left: 4rem;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
#button{
    background: green;
    color: white;
    cursor: pointer;
    margin: 5px;
    border-radius: 4rem;
    width: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.styled-table thead tr {
    background-color: #009879;
    color: #f3f3f3;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
    color: black;
}
.styled-table tbody tr:hover{
    font-weight: bold;
    color: #009879;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
